In [34]:
import requests
import pandas as pd
from datetime import datetime

In [35]:
end_year = datetime.now().year
start_year = end_year - 5

In [36]:
url="https://earthquake.usgs.gov/fdsnws/event/1/query"

In [37]:
all_features=[]
for year in range(start_year,end_year+1):
    for month in range(1,13):
        start_date=f"{year}-{month:02d}-01" 
        if month==12:
            end_date=f"{year}-12-31"
        else :
            end_date=f"{year}-{month+1:02d}-01"
        params={"format":"geojson",#data fmt
           "starttime":start_date,#st date
           "endtime":end_date,#end date
           "minmagnitude" : 4
        }
        response=requests.get(url,params=params)
        if response.status_code==200:
            data=response.json()
            features=data["features"]
            all_features.extend(features)
            print(f"{year}-{month:02d} done --> {len(features)} records")
        else :
            print(f"failed for{year}-{month:02d}")
print("total earthquake fetched: ",len(all_features))

2021-01 done --> 1170 records
2021-02 done --> 1458 records
2021-03 done --> 2113 records
2021-04 done --> 1278 records
2021-05 done --> 1339 records
2021-06 done --> 1199 records
2021-07 done --> 1300 records
2021-08 done --> 2222 records
2021-09 done --> 1325 records
2021-10 done --> 1155 records
2021-11 done --> 1242 records
2021-12 done --> 1458 records
2022-01 done --> 1458 records
2022-02 done --> 1260 records
2022-03 done --> 1569 records
2022-04 done --> 1360 records
2022-05 done --> 1166 records
2022-06 done --> 1209 records
2022-07 done --> 1334 records
2022-08 done --> 1205 records
2022-09 done --> 1533 records
2022-10 done --> 1231 records
2022-11 done --> 1273 records
2022-12 done --> 1117 records
2023-01 done --> 1385 records
2023-02 done --> 1524 records
2023-03 done --> 1239 records
2023-04 done --> 1174 records
2023-05 done --> 1444 records
2023-06 done --> 1252 records
2023-07 done --> 1116 records
2023-08 done --> 1097 records
2023-09 done --> 1112 records
2023-10 done --> 1392 records
2023-11 done --> 1418 records
2023-12 done --> 2037 records
2024-01 done --> 1389 records
2024-02 done --> 1147 records
2024-03 done --> 1122 records
2024-04 done --> 1548 records
2024-05 done --> 1208 records
2024-06 done --> 1109 records
2024-07 done --> 1096 records
2024-08 done --> 1107 records
2024-09 done --> 1041 records
2024-10 done --> 1108 records
2024-11 done --> 1052 records
2024-12 done --> 1205 records
2025-01 done --> 1413 records
2025-02 done --> 1394 records
2025-03 done --> 1179 records
2025-04 done --> 1317 records
2025-05 done --> 1228 records
2025-06 done --> 1156 records
2025-07 done --> 2685 records
2025-08 done --> 2224 records
2025-09 done --> 1600 records
2025-10 done --> 1509 records
2025-11 done --> 1302 records
2025-12 done --> 1214 records
2026-01 done --> 787 records
2026-02 done --> 0 records
2026-03 done --> 0 records
2026-04 done --> 0 records
2026-05 done --> 0 records
2026-06 done --> 0 records
2026-07 done --> 0 records
2026-08 done --> 0 records
2026-09 done --> 0 records
2026-10 done --> 0 records
2026-11 done --> 0 records
2026-12 done --> 0 records
total earthquake fetched:  82304

In [48]:
records = []

for feature in all_features:
    props = feature["properties"]
    coords = feature["geometry"]["coordinates"]

    record = {
        "id": feature["id"],

        # time fields
        "time": props.get("time"),
        "updated": props.get("updated"),

        # location
        "latitude": coords[1],
        "longitude": coords[0],
        "depth_km": coords[2],

        # magnitude
        "mag": props.get("mag"),
        "magType": props.get("magType"),
        "magError": props.get("magError"),
        "depthError": props.get("depthError"),
        "magNst": props.get("magNst"),

        # place & status
        "place": props.get("place"),
        "status": props.get("status"),
        "type": props.get("type"),

        # tsunami & impact
        "tsunami": props.get("tsunami"),
        "sig": props.get("sig"),
        "alert": props.get("alert"),

        # network & sources
        "net": props.get("net"),
        "nst": props.get("nst"),
        "dmin": props.get("dmin"),
        "rms": props.get("rms"),
        "gap": props.get("gap"),

        "locationSource": props.get("locationSource"),
        "magSource": props.get("magSource"),
        "sources": props.get("sources"),
        "types": props.get("types"),
        "ids": props.get("ids")
    }

    records.append(record)

In [49]:
df=pd.DataFrame(records)
print(df.shape)

(82304, 27)

In [21]:
df.head()

,id,time,updated,latitude,longitude,depth_km,mag,magType,magError,magNst,...,net,nst,dmin,rms,gap,locationSource,magSource,sources,types,ids
0,us6000ddi8,1612135249923,1618599764040,-31.7493,-68.9337,17.27,4.7,mwr,None,None,...,us,NaN,0.294,0.82,42.0,None,None,",us,",",dyfi,moment-tensor,origin,phase-data,",",us6000ddi8,"
1,us6000dev6,1612134497161,1618599827040,-15.4902,-177.2052,426.71,4.1,mb,None,None,...,us,NaN,1.471,0.29,64.0,None,None,",us,",",origin,phase-data,",",us6000dev6,"
2,us6000dev5,1612133659760,1618599827040,19.7529,121.3159,46.73,4.7,mb,None,None,...,us,NaN,3.057,0.69,106.0,None,None,",us,",",origin,phase-data,",",us6000dev5,"
3,us6000ddhs,1612130760832,1618599763040,28.1524,57.2570,10.00,4.9,mb,None,None,...,us,NaN,3.330,0.61,71.0,None,None,",us,",",origin,phase-data,",",us6000ddhs,"
4,us6000dev4,1612129874016,1618599826040,71.3212,-3.7578,10.00,4.0,mb,None,None,...,us,NaN,6.023,0.50,65.0,None,None,",us,",",origin,phase-data,",",us6000dev4,"

In [22]:
df.tail()

,id,time,updated,latitude,longitude,depth_km,mag,magType,magError,magNst,...,net,nst,dmin,rms,gap,locationSource,magSource,sources,types,ids
82299,us7000rrd4,1767235957859,1769220005040,-45.8324,96.1993,10.000,4.5,mb,None,None,...,us,16.0,27.841,0.88,134.0,None,None,",us,",",origin,phase-data,",",us7000rrd4,"
82300,us7000rrde,1767234904713,1769218848040,-31.9426,-179.5301,203.795,4.4,mb,None,None,...,us,22.0,5.882,0.74,233.0,None,None,",us,",",origin,phase-data,",",us7000rrde,"
82301,us7000rltk,1767233579818,1769213465040,51.5185,159.3017,46.115,4.6,mb,None,None,...,us,40.0,1.872,0.88,137.0,None,None,",us,",",origin,phase-data,",",us7000rltk,"
82302,us7000rltg,1767232381809,1769213112232,-45.6117,96.3592,10.000,6.0,mww,None,None,...,us,67.0,17.240,0.66,45.0,None,None,",usauto,at,us,",",internal-moment-tensor,internal-origin,losspa...",",usauto7000rltg,at00t85x8g,us7000rltg,"
82303,us7000rrd6,1767230720926,1769211574040,-56.1770,-28.1811,118.207,4.5,mb,None,None,...,us,22.0,5.119,1.00,178.0,None,None,",us,",",origin,phase-data,",",us7000rrd6,"

In [23]:
df.columns

Index(['id', 'time', 'updated', 'latitude', 'longitude', 'depth_km', 'mag',
       'magType', 'magError', 'magNst', 'place', 'status', 'type', 'tsunami',
       'sig', 'alert', 'net', 'nst', 'dmin', 'rms', 'gap', 'locationSource',
       'magSource', 'sources', 'types', 'ids'],
      dtype='object')

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82304 entries, 0 to 82303
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              82304 non-null  object
 1   time            82304 non-null  int64
 2   updated         82304 non-null  int64
 3   latitude        82304 non-null  float64
 4   longitude       82304 non-null  float64
 5   depth_km        82304 non-null  float64
 6   mag             82304 non-null  float64
 7   magType         82304 non-null  object
 8   magError        0 non-null      object
 9   magNst          0 non-null      object
 10  place           82290 non-null  object
 11  status          82304 non-null  object
 12  type            82304 non-null  object
 13  tsunami         82304 non-null  int64
 14  sig             82304 non-null  int64
 15  alert           4157 non-null   object
 16  net             82304 non-null  object
 17  nst             59656 non-null  float64
 18  dmin            81835 non-null  float64
 19  rms             82286 non-null  float64
 20  gap             81879 non-null  float64
 21  locationSource  0 non-null      object
 22  magSource       0 non-null      object
 23  sources         82304 non-null  object
 24  types           82304 non-null  object
 25  ids             82304 non-null  object
dtypes: float64(8), int64(4), object(14)
memory usage: 16.3+ MB

In [50]:
df[["time","updated"]].head()

            time        updated
0  1612135249923  1618599764040
1  1612134497161  1618599827040
2  1612133659760  1618599827040
3  1612130760832  1618599763040
4  1612129874016  1618599826040

In [51]:
df["time"]=pd.to_datetime(df["time"],unit="ms")
df["updated"]=pd.to_datetime(df["updated"],unit="ms")

In [52]:
df[["time","updated"]].head()

                     time                 updated
0 2021-01-31 23:20:49.923 2021-04-16 19:02:44.040
1 2021-01-31 23:08:17.161 2021-04-16 19:03:47.040
2 2021-01-31 22:54:19.760 2021-04-16 19:03:47.040
3 2021-01-31 22:06:00.832 2021-04-16 19:02:43.040
4 2021-01-31 21:51:14.016 2021-04-16 19:03:46.040

In [53]:
df.isnull().sum()

id                    0
time                  0
updated               0
latitude              0
longitude             0
depth_km              0
mag                   0
magType               0
magError          82304
depthError        82304
magNst            82304
place                14
status                0
type                  0
tsunami               0
sig                   0
alert             78147
net                   0
nst               22648
dmin                469
rms                  18
gap                 425
locationSource    82304
magSource         82304
sources               0
types                 0
ids                   0
dtype: int64

In [54]:
df.dtypes

id                        object
time              datetime64[ns]
updated           datetime64[ns]
latitude                 float64
longitude                float64
depth_km                 float64
mag                      float64
magType                   object
magError                  object
depthError                object
magNst                    object
place                     object
status                    object
type                      object
tsunami                    int64
sig                        int64
alert                     object
net                       object
nst                      float64
dmin                     float64
rms                      float64
gap                      float64
locationSource            object
magSource                 object
sources                   object
types                     object
ids                       object
dtype: object

In [55]:
import re
def extract_country(place):
    if pd.isna(place):
        return "unknown"
    match = re.search(r"\s*([^,]+)$",place)
    if match:
        return match.group(1)
    else:
        return "unknown"

In [56]:
df["country"] = df["place"].apply(extract_country)

In [57]:
df[["place","country"]].head()

                                               place                 country
0        29 km SW of Villa Basilio Nievas, Argentina               Argentina
1                                        Fiji region             Fiji region
2                    103 km SW of Basco, Philippines             Philippines
3                            114 km N of M?n?b, Iran                    Iran
4  184 km ENE of Olonkinbyen, Svalbard and Jan Mayen  Svalbard and Jan Mayen

In [58]:
df.columns

Index(['id', 'time', 'updated', 'latitude', 'longitude', 'depth_km', 'mag',
       'magType', 'magError', 'depthError', 'magNst', 'place', 'status',
       'type', 'tsunami', 'sig', 'alert', 'net', 'nst', 'dmin', 'rms', 'gap',
       'locationSource', 'magSource', 'sources', 'types', 'ids', 'country'],
      dtype='object')

In [59]:
#normalize alert field
df["alert"] = df["alert"].str.lower()

In [60]:
#clean other string columns
string_cols = ["magType","status","type","net","sources","types"]
for col in string_cols:
    df[col]=df[col].astype(str).str.strip().str.lower()  #astype --> avoid if NaN, strip-->avoid xtra spaces, lower()--> normalize cae

In [61]:
#converting numerical columns
numeric_cols = ["mag", "depth_km", "nst", "dmin", "rms", "gap",
    "magError", "depthError", "magNst", "sig"]
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col],errors="coerce")

In [62]:
#filling missing numeric valu by 0
df[numeric_cols] = df[numeric_cols].fillna(0)

In [63]:
df.isna().sum()

id                    0
time                  0
updated               0
latitude              0
longitude             0
depth_km              0
mag                   0
magType               0
magError              0
depthError            0
magNst                0
place                14
status                0
type                  0
tsunami               0
sig                   0
alert             78147
net                   0
nst                   0
dmin                  0
rms                   0
gap                   0
locationSource    82304
magSource         82304
sources               0
types                 0
ids                   0
country               0
dtype: int64

In [64]:
df["alert"] = df["alert"].fillna("none")
df["locationSource"] = df["locationSource"].fillna("unknown")
df["magSource"] = df["magSource"].fillna("unknown")
df["place"] = df["place"].fillna("unknown")

In [65]:
df[["place","alert", "locationSource", "magSource"]].isna().sum()

place             0
alert             0
locationSource    0
magSource         0
dtype: int64

In [66]:
df.isnull().sum()

id                0
time              0
updated           0
latitude          0
longitude         0
depth_km          0
mag               0
magType           0
magError          0
depthError        0
magNst            0
place             0
status            0
type              0
tsunami           0
sig               0
alert             0
net               0
nst               0
dmin              0
rms               0
gap               0
locationSource    0
magSource         0
sources           0
types             0
ids               0
country           0
dtype: int64

In [67]:
df["year"]=df["time"].dt.year
df["month"]=df["time"].dt.month
df["day"]=df["time"].dt.day
df["day_of_week"]=df["time"].dt.day_name()

In [68]:
def depth_category(depth):
    if depth<70:
        return "Shallow"
    elif depth<300:
        return "Intermediate"
    else:
        return "Deep"
df["depth_category"] = df["depth_km"].apply(depth_category)

In [69]:
df["strong_eq"] = df["mag"].apply(lambda x: "yes" if x>=7.0 else "No")

In [70]:
df.head()

,id,time,updated,latitude,longitude,depth_km,mag,magType,magError,depthError,...,sources,types,ids,country,year,month,day,day_of_week,depth_category,strong_eq
0,us6000ddi8,2021-01-31 23:20:49.923,2021-04-16 19:02:44.040,-31.7493,-68.9337,17.27,4.7,mwr,0.0,0.0,...,",us,",",dyfi,moment-tensor,origin,phase-data,",",us6000ddi8,",Argentina,2021,1,31,Sunday,Shallow,No
1,us6000dev6,2021-01-31 23:08:17.161,2021-04-16 19:03:47.040,-15.4902,-177.2052,426.71,4.1,mb,0.0,0.0,...,",us,",",origin,phase-data,",",us6000dev6,",Fiji region,2021,1,31,Sunday,Deep,No
2,us6000dev5,2021-01-31 22:54:19.760,2021-04-16 19:03:47.040,19.7529,121.3159,46.73,4.7,mb,0.0,0.0,...,",us,",",origin,phase-data,",",us6000dev5,",Philippines,2021,1,31,Sunday,Shallow,No
3,us6000ddhs,2021-01-31 22:06:00.832,2021-04-16 19:02:43.040,28.1524,57.2570,10.00,4.9,mb,0.0,0.0,...,",us,",",origin,phase-data,",",us6000ddhs,",Iran,2021,1,31,Sunday,Shallow,No
4,us6000dev4,2021-01-31 21:51:14.016,2021-04-16 19:03:46.040,71.3212,-3.7578,10.00,4.0,mb,0.0,0.0,...,",us,",",origin,phase-data,",",us6000dev4,",Svalbard and Jan Mayen,2021,1,31,Sunday,Shallow,No

In [71]:
df.shape

(82304, 34)

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82304 entries, 0 to 82303
Data columns (total 34 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              82304 non-null  object
 1   time            82304 non-null  datetime64[ns]
 2   updated         82304 non-null  datetime64[ns]
 3   latitude        82304 non-null  float64
 4   longitude       82304 non-null  float64
 5   depth_km        82304 non-null  float64
 6   mag             82304 non-null  float64
 7   magType         82304 non-null  object
 8   magError        82304 non-null  float64
 9   depthError      82304 non-null  float64
 10  magNst          82304 non-null  float64
 11  place           82304 non-null  object
 12  status          82304 non-null  object
 13  type            82304 non-null  object
 14  tsunami         82304 non-null  int64
 15  sig             82304 non-null  int64
 16  alert           82304 non-null  object
 17  net             82304 non-null  object
 18  nst             82304 non-null  float64
 19  dmin            82304 non-null  float64
 20  rms             82304 non-null  float64
 21  gap             82304 non-null  float64
 22  locationSource  82304 non-null  object
 23  magSource       82304 non-null  object
 24  sources         82304 non-null  object
 25  types           82304 non-null  object
 26  ids             82304 non-null  object
 27  country         82304 non-null  object
 28  year            82304 non-null  int32
 29  month           82304 non-null  int32
 30  day             82304 non-null  int32
 31  day_of_week     82304 non-null  object
 32  depth_category  82304 non-null  object
 33  strong_eq       82304 non-null  object
dtypes: datetime64[ns](2), float64(11), int32(3), int64(2), object(16)
memory usage: 20.4+ MB

In [74]:
!pip install mysql-connector-python
!pip install sqlalchemy

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.5 MB 4.0 MB/s eta 0:00:05
   --- ------------------------------------ 1.3/16.5 MB 5.5 MB/s eta 0:00:03
   ----- ---------------------------------- 2.4/16.5 MB 4.6 MB/s eta 0:00:04
   ------ --------------------------------- 2.9/16.5 MB 4.5 MB/s eta 0:00:04
   -------- ------------------------------- 3.7/16.5 MB 3.8 MB/s eta 0:00:04
   ----------- ---------------------------- 4.7/16.5 MB 4.1 MB/s eta 0:00:03
   ------------ --------------------------- 5.2/16.5 MB 3.9 MB/s eta 0:00:03
   ------------- -------------------------- 5.5/16.5 MB 3.7 MB/s eta 0:00:04
   -------------- ------------------------- 6.0/16.5 MB 3.4 MB/s eta 0:00:04
   -------------- ------------------------- 6.0/16.5 MB 3.4 MB/s eta 0:00:04
   --------------- ------------------------ 6.3/16.5 MB 2.9 MB/s eta 0:00:04
   --------------- ------------------------ 6.6/16.5 MB 2.8 MB/s eta 0:00:04
   ------------------ --------------------- 7.6/16.5 MB 2.9 MB/s eta 0:00:04
   -------------------- ------------------- 8.4/16.5 MB 3.0 MB/s eta 0:00:03
   ----------------------- ---------------- 9.7/16.5 MB 3.2 MB/s eta 0:00:03
   ------------------------ --------------- 10.0/16.5 MB 3.1 MB/s eta 0:00:03
   ------------------------- -------------- 10.5/16.5 MB 3.1 MB/s eta 0:00:02
   -------------------------- ------------- 10.7/16.5 MB 3.1 MB/s eta 0:00:02
   -------------------------- ------------- 10.7/16.5 MB 3.1 MB/s eta 0:00:02
   -------------------------- ------------- 10.7/16.5 MB 3.1 MB/s eta 0:00:02
   --------------------------- ------------ 11.3/16.5 MB 2.6 MB/s eta 0:00:03
   --------------------------- ------------ 11.5/16.5 MB 2.6 MB/s eta 0:00:02
   ----------------------------- ---------- 12.1/16.5 MB 2.6 MB/s eta 0:00:02
   ------------------------------- -------- 12.8/16.5 MB 2.6 MB/s eta 0:00:02
   ------------------------------- -------- 13.1/16.5 MB 2.6 MB/s eta 0:00:02
   -------------------------------- ------- 13.4/16.5 MB 2.6 MB/s eta 0:00:02
   --------------------------------- ------ 13.9/16.5 MB 2.5 MB/s eta 0:00:02
   ---------------------------------- ----- 14.2/16.5 MB 2.5 MB/s eta 0:00:01
   ----------------------------------- ---- 14.7/16.5 MB 2.4 MB/s eta 0:00:01
   ------------------------------------ --- 14.9/16.5 MB 2.4 MB/s eta 0:00:01
   ------------------------------------- -- 15.5/16.5 MB 2.4 MB/s eta 0:00:01
   -------------------------------------- - 16.0/16.5 MB 2.4 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 2.4 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0
Requirement already satisfied: sqlalchemy in c:\users\lenovo\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\lenovo\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)

In [75]:
import mysql.connector
from sqlalchemy import create_engine

In [82]:
engine = create_engine(
    "mysql+mysqlconnector://root:Devi%4025@localhost:3306/earthquake_db"
)

In [83]:
engine.connect()

In [84]:
df.to_sql(
    name = "earthquake",
    con = engine,
    if_exists = "replace",
    index = False
)

82304